body {
    text-align: center;
    background:#176387;
}

.button1 {
    padding: 1rem;
    width: 20rem;
    border-radius: 2rem;
    background-color: rgb(0, 39, 71);
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 25px; 
    color: #BD8484;
    font-weight: 700;
}

.button2 {
    padding: 1rem;
    width: 20rem;
    border-radius: 2rem;
    background-color: rgb(0, 39, 71);
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 25px; 
    color: #BD8484;
    font-weight: 700;
    
}

.cats {
    opacity:0;
    max-width: 30rem;
    padding:0rem;
    margin:auto;

}

